* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-image: url();
color: rgb(0, 0, 0);   
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

header {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
   display: inline;
   margin-right: 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
 
nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin: 20px 0 ;
}

.section h2 {
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

.section img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: rgb(17, 16, 17);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: rgb(225, 186, 228);
}

footer { 
    background-color: rgb(253, 220, 249);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

